.canvas-container {
    background-color: var(--clr-primary-base--1);
    width: 40vw;
    height: 40vw;
    max-width: 416px;
    max-height: 416px;
    display: inline-block;
    position: relative;
}

.meme-editor-canvas {
    height: 100%;
    width: 100%;
}