.text-box-selector {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    font-size: 1em;
    padding: 5px;
    max-height: 30px;
    height: 5vw;
    border-radius: 6px;
}

.editing-buttons {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 3px;
}

@media(min-width: 900px) {
    .editing-buttons {
        max-width: 30.4px;
        /* max-height: 30.4px; */
    }
}

.editing-buttons:first-child {
    margin-inline-start: 15px;
}

.social-btns-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

@media (max-width: 392px) {
    .social-btns-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
        width: 100%;
        max-width: 400px;
        margin: auto;
    }
}